*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
.main-content-view .main{
       width: 100%;
       min-height: 100vh;
       font-family: 'Poppins', sans-serif;

}
.main-content-view nav{
       padding: 0.6rem 1.6rem;
       z-index: 1;
}
.main-content-view .navbar{
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.main-content-view nav .logo{
       width: 65px;
       margin-bottom: 25px;
       cursor: pointer;
}
.main-content-view nav .logo img{
       width: 100%;
}
.main-content-view .navbar .menu-links, .navbar .menu-links ul{
       display: flex;   
       justify-content: center;
       align-items: center;
       list-style: none;
       font-family: 'Poppins', sans-serif;
       font-size: 16px;
       letter-spacing: 1px;
}
.main-content-view .navbar .menu-links ul li{
       margin: 0 0.5rem;
       position: relative;

}
.main-content-view .navbar .menu-links ul li a{
       display: inline-block;
       padding: 0 0.7rem;
       color: #c61df0;
       text-decoration: none;
       font-weight: 500;
}
.main-content-view .navbar .menu-links ul li::after {
       content: " ";
       position: absolute;
       left: 0;
       bottom: -5px;
       width: 60%;
       padding: 0 1.1rem;
       height: 2px;
       background-color: #c61df0;
       display: block;
       visibility: hidden;
       opacity: 0;
       transition: 0.4s;
}
.main-content-view .navbar .menu-links ul li:hover a {
       color: #fa3e9c;

}
.main-content-view .navbar .menu-links ul li:hover::after {
       background-color: #fa3e9c;
       visibility: visible;
       opacity: 1;
}
.main-content-view .menu-links .btn-choose-plan{
       display: inline-block;
       padding: 0.8rem 1.9rem;
       color: #ffffff;
       text-decoration: none;
       background-color: #c61df0;
       border-radius: 24px;
}
.main-content-view .menu-links .btn-choose-plan:hover{
       background-color: #fa3e9c;
}
.main-content-view .menu-links .action-open {
       display: none;
}
.main-content-view .action-open span{
       width: 30px;
       height: 2px;
       display: block;
       background-color: #fa3e9c;
       margin: 5px 0;
}
.main-content-view .action-close{
       display: none;
       cursor: pointer;
}
.main-content-view .action-close span{
       display: none;
       width: 30px;
       height: 2px;
       background-color: #fa3e9c;
       margin: 10px 0;
}
.main-content-view .action-close span:first-child {  
       transform: translate(10px);  
       background-color: #fa3e9c;
       
}
.main-content-view .action-close span:nth-child(2) {   
       transform: translate(-10px);  
       background-color: #fa3e9c;
       
}
.main-content-view .aside{
       border: 1px solid black;
}
.main-content-view .section-area{
       display: grid;
       grid-template-columns: 1fr 3fr 1fr;
}
.main-content-view .left-bar{
       border-radius: 0 16px 16px 0;
       border: 1px solid #fcfcfc ;
       box-shadow: 12px 22px 36px #ebebeb;
}
.right-bar{
       border-radius: 16px 0 0 16px; 
       border: 1px solid #fcfcfc ;
       box-shadow: inset 8px 12px 24px #ebebeb;
}
.main-content-view .left-bar, .main-section, .right-bar{
       height: 550px;
       padding: 10px;
}
.main-content-view .left-bar,.right-bar{
       display: flex;
       padding-top: 5.5rem;
}
.main-content-view .left-bar ul, .right-bar ul{
       width: 100%;
       margin: 0 25px;
}
.main-content-view .left-bar ul li, .right-bar ul li{
       display: block;
       margin: 13px 0;
       border-radius: 8px;
       padding: 12px ;
}
.main-content-view .left-bar ul li a{
color:#c61df0;
text-decoration: none;
}
.main-content-view .right-bar ul li a{
       color:#747474;
       text-decoration: none;    
}
.main-content-view .left-bar ul li:hover a, .right-bar ul li:hover a{
       color: #ffffff;    
}
.main-content-view .left-bar ul li:hover{
       background-color: #fa3e9c;
}
.main-content-view .right-bar ul li:hover {
       background-color: #c61df0;;
}
.main-content-view .footer{
       width: 100%;
       text-align: center;
       padding: 12px 0;
}

@media only screen and (max-width: 1250px) {
       .main-content-view .section-area{
              display: grid;
              grid-template-columns: 1fr 2fr;
       }
       .right-bar{
             display: none;
       }
       .main-content-view .action-open{
              display: block !important;
              cursor: pointer;
       }
       .main-content-view .links{
              display: none !important;
       }
}
