.sidebar{
       width: 380px;
       height: 100%;
       padding: 4.6rem 12px 0 12px;
       position: fixed;
       border-radius: 0 14px 14px 0;
       box-shadow: 12px 8px 14px rgba(112, 112, 112, 0.349);
}
.sidebar ul{
       width: 100%;
       color: rgb(51, 51, 51);
       list-style: none;
}
.sidebar ul li span{
       display: block;
       padding: 16px 22px;
       margin: 8px 0;
       border-radius: 8px;
       background-color: rgb(237, 237, 237);
       font-size: 17px;
       letter-spacing: 1px;
       color: rgb(56, 56, 56);

}
.sidebar ul li:hover span{
       background-color: #c062ff;
       color: white;
}
.sidebar ul li ul .tab-practices span,
.sidebar ul li ul .tab-assignment span{
       color: rgb(235, 235, 235)!important;
}
.sidebar ul li ul .tab-practices span{
       background-color: #a41bff;
}
.sidebar ul li ul .tab-assignment span{
       background-color: #a75bff;
}
.sidebar ul li ul{
       width: calc(100% - 12px);
       margin: 0 0 0 12px;
}


@media only screen and (max-width: 768px) {
       .sidebar{
              position: relative;
              width: 100%;
              padding: 0 12px 0 12px;
       }
}