@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
       font-family: myFirstFont;
       src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
} */

@font-face {
       font-family: medium-Bold;
       src: url(../assets/fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
       font-family: medium-Italic;
       src: url(../assets/fonts/PlayfairDisplay-MediumItalic.ttf);
}

@font-face {
       font-family: Regular;
       src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
       font-family: semi-Bold;
       src: url(../assets/fonts/PlayfairDisplay-SemiBold.ttf);
}

.semi-Bold {
       font-family: semi-Bold;
}
.medium-Bold {
       font-family: medium-Bold;
}
.medium-Italic {
       font-family: medium-Italic;
}
.regular {
       font-family: Regular;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
       width: 10px;
     }
     
     /* Track */
     ::-webkit-scrollbar-track {
       background: #ffffff00;
     }
     
     /* Handle */
     ::-webkit-scrollbar-thumb {
       background: rgba(255, 255, 255, 0);
     }
     
     /* Handle on hover */
.nav-links .nav-items > ul{
       display: none;
}
.nav-links .nav-items:hover > ul{
       display: block;
       
}