@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
:root {
       --gray-text: rgb(99, 99, 99);
       --gray-text-dark: rgb(59, 59, 59);
       --gray-background: rgb(245, 245, 245);
       --blue-background: rgb(200, 176, 255);
       --white-background: rgb(255, 255, 255);
       --color-blue: rgb(110, 110, 252);
       --color-yellow: rgb(233, 114, 2);

     }
.flex-box{
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.d-flex{
       display: flex;
       flex-direction: column;
} 
.jc-center{
       justify-content: center;
} 
.ai-center{
       align-items: center;
}
.direction-column{
 flex-direction: column;
}
.main{
       width: 100%;
       min-height: 100vh;
       font-family: 'Poppins', sans-serif;
}
.w-94{
       width: 94%;
       max-width: 1250px;
       margin: auto;
}

.nav-upper{
       background-color: var(--gray-background);
       padding: 8px 0;
}
.nav-upper, .nav-bottom{
       color: var(--gray-text);
}
.nav-bottom{
       background-color: var(--white-background);
       padding: 16px 0;
}
.shooping-cart span, .txt-sign-in-sign-up span{
       font-family: 'Poppins', sans-serif;
       font-weight: 400;
       margin-left: 10px;
}
.nav-bottom .logo{
       width: 55px;
       height: 60px;
}
.nav-bottom .logo img{
       width: 100%;
       height: 100%;
}
.nav-bottom .actions {
       cursor: pointer;
       z-index: 100;
}
.nav-bottom .actions .action-open span{
       display: block;
       width: 30px;
       height: 2px;
       margin: 8px;
       background-color: black;
       border:1px solid black;
}
.nav-bottom .actions .action-close span:nth-child(1){
       display: block;
       width: 30px;
       height: 2px;
       margin: 8px;
       background-color: black;
       border:1px solid black;
       transform: translateY(12px) rotate(45deg);
}
.nav-bottom .actions .action-close span:nth-child(2){
       display: block;
       width: 30px;
       height: 2px;
       margin: 8px;
       border: 1px solid black;
       transform: translateY(1px) rotate(-45deg);
}

.side-bar-call{
       position: relative;
       display: none;
}
.side-bar .call{
       position: absolute;
       right: 0;
       top: -40px;
}
.side-bar ul{
       display: flex;
       justify-content: flex-end;
       list-style: none;
       color: var(--gray-text-dark);
}

.side-bar ul li{
       margin-left: 22px;
       font-size: 18px;
}
.side-bar ul li:last-child a{
       display: inline;
       text-decoration: none;
}
.header{
       background-color: var(--gray-background);
       width: 100%;
       padding:2.6rem 0.6rem;
       color: var(--gray-text-dark);
}
.header .header-text-area h1,
.section-video-text-area h1{
       margin-bottom: 0.7rem;
}
.header .header-text-area h3,
.section-video-text-area h3{
       margin-bottom: 0.4rem;
}
.header .header-text-area a,
.header .header-form-area a,
.section-video-text-area a,
.area-projects a
{
display: inline-block;
margin: 15px auto;
text-decoration: none;
color: var(--white-background);
font-weight: 500;
padding: 12px 34px;
border-radius: 15px;
background-color: var(--color-yellow);
}
.header-form-area{
       width: 100%;
}
.row{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
}
.form{
       margin-top: 15px;
}
input[type="text"] {
       width: 100%;
       padding: 12px 0;
       margin: 8px 0;
       border:2px solid var(--color-blue);
       border-radius: 8px;
}
::placeholder {
       padding: 0;
       margin: 0;
       padding-left: 12px;
       padding-top: 6px!important;
}
.message-field{
       min-height: 95px;
}
.get-design-promo{
       padding: 2.3rem 0;
       background-color: var(--color-blue);
}
.get-design-promo .text-area{
       color: var(--white-background);
}
.get-design-promo .text-area p{
       margin-top: 22px;
}
.get-design-promo a{
       display: inline-block;
       margin: 15px auto;
       text-decoration: none;
       color: var(--color-blue);
       font-weight: 500;
       padding: 12px 34px;
       border-radius: 15px;
       background-color: var(--white-background);
}
.get-design-promo-icons{
       padding: 22px 16px;
       font-size: 2.9rem;
       color: var(--gray-text);
}
.section-video{
       display: flex;
       flex-direction: column;
       background-color: var(--gray-background);
       padding: 2.3rem 0.6rem;
}
.video-box{
       width: 100%;
       position: relative;
       border-radius: 12px;
       overflow: hidden;
       flex: 100%;
}
.video-box img{
       width: 100%;
}
.video-box::after{
       content: "";
       position:absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background-color: rgba(0, 255, 255, 0.034);
}
.outer{
position: absolute;
padding: 15px;
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: var(--color-blue);
}
.overlay{
width: 0;
height: 0;
transform:  translateX(6px) rotate(90deg);
transform-origin: center;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 40px solid var(--white-background);
}
.section-video-text-area{
color: var(--gray-text-dark);
flex: 100%;
}
.area-projects{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 2rem;
       padding: 2.3rem 0;
       flex-wrap: wrap;

}
.area-projects .project{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       max-width: 260px;
       color: var(--gray-text-dark);
}
.area-projects .project .img-box{
       max-width: 350px;
       border-radius: 4px;
       overflow: hidden;
}
.project1 .img-box img{
       width: 100%;
}
.text-section h3{
       margin-top: 0.8rem;
}
.text-section p{
       margin-top: 0.5rem;
}
.footer{
       background-color: var(--gray-background);
       padding: 2.3rem 0;
}
.footer-row{
       display: flex;
       justify-content: center;
       align-items: flex-start;
       flex-wrap: wrap;
}
.foter-col{
       min-width:350px;
       color: var(--gray-text);
       margin-bottom: 1.2rem;
}
.foter-col ul{
       list-style: none;
}
/* .section-video{
       display: flex;
       flex-direction: column;
       background-color: var(--gray-background);
       padding: 2.3rem 0.6rem;
} */
@media only screen and (min-width: 800px) {
       .section-video{
              flex-direction: row;
              gap: 2.4rem;
       }
       .section-video-row{
              display: flex;
              flex-direction: row;
              gap: 2.4rem;
       }
}
@media only screen and (min-width: 768px) {
       .d-flex{
              flex-direction: row;
       } 
       .ai-center{
              align-items: flex-start;
       }
       .row{
              width: 100%;
              display: flex;
              flex-direction: row;
       }
       .btn-started a{
              margin-left: 0!important;
       }
       .side-bar-call{
              position: relative;
              display: block;
       }
       .nav-bottom .actions {
              cursor: pointer;
              z-index: 100;
              display: none;
       }
}